<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/bootstrap.css">
    <title>IMPEKABLE</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../Template/css/styleM.css">

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">IMPEKABLE</h5>
                        <h6 class="card-title text-center"> Por favor, preencha para cria sua conta</h6>
                        <form class="form-signin">
                            <div class="form-label-group">

                                <input type="text" id="inputName" class="form-control" placeholder="Nome completo"
                                    required autofocus>
                                <label for="inputName"></label>


                                <input type="email" id="inputEmail" class="form-control" placeholder="Email" required
                                    autofocus>
                                <label for="inputEmail"></label>

                            </div>

                            <div class="form-label-group">
                                <input type="password" id="inputPassword" class="form-control" placeholder="Senha"
                                    required>
                                <label for="inputPassword"></label>
                            </div>


                            <div class="form-label-group">
                                <input type="password" id="inputPassword_2" class="form-control"
                                    placeholder="Confirme sua Senha" required>
                                <label for="inputPassword_2"></label>
                            </div>

                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Eu concordo com os termos e
                                    condições</label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase"
                                type="submit">inscrever-se</button>
                            <!-- <hr class="my-4"> -->
                        </form>
                    </div>
                    <a  href="#" class="card-title text-center btn-link "> já tem uma conta? Entre aqui</a>

                    <a  href="#" class="card-title text-center">Termos de uso. Política de Privacidade </a>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!--
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script> -->
    <script src="../node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="../node_modules/popper.js/dist/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>


</body>

</html>
