html{
    /* background-color: red; */
    background-image: url(../fundo.svg) ;
    height: 50vh;
    width: auto;
    box-sizing: border-box;
}

/* html{
    background-image: url(../Ondas.svg)
} */
body{
    background-color: rgba(0, 0, 0, 0)
}
.col-sm-9 .card{
    /* background-color: ; */
    border: 1px solid white;
    text-decoration-color: red
}
